## MLB data analysis 1: Using the career split data

In [37]:
import pandas as pd;
import numpy as np;

columns_career = ["ID", "Name", "Situation", "G", "AB", "R", "H", "2B", "3B", "HR", "RBI", "BB", "IBB", "SO", "HBP", "SH", \
                 "SF", "XI", "ROE", "GDP", "SB", "CS", "AVG", "OBP", "SLG"]; # len() = 25
columns_dtype = [str]*3 + [np.float64]*22;

columns_dtype_dict = dict(zip(columns_career, columns_dtype));

In [38]:
df_player_career_split = pd.read_csv("player_career_split_data.csv", usecols = columns_career, dtype = columns_dtype_dict);

In [39]:
df_player_career_split.iloc[:,3:]

,G,AB,R,H,2B,3B,HR,RBI,BB,IBB,...,SH,SF,XI,ROE,GDP,SB,CS,AVG,OBP,SLG
0,331.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
1,181.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
2,150.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
3,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
4,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413966,335.0,1245.0,164.0,359.0,74.0,15.0,30.0,190.0,123.0,4.0,...,28.0,0.0,0.0,14.0,2.0,46.0,21.0,0.288,0.356,0.444
413967,5.0,8.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.125,0.125,0.125
413968,27.0,25.0,1.0,4.0,1.0,0.0,0.0,6.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.160,0.192,0.200
413969,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
413970,1.0,2.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.500,0.500,1.000